* {
  margin: 0 0 0 0;
}
#terminal {
  height: 100%;
  width: 100%;
}

#terminalInput {
  position: absolute;
  bottom: 10px;
  width: 97%;
  left: 1.5%;
  right: 1.5%;
  font-size: 1.5rem;
  height: 2rem;
}

.xterm-screen {
  height: auto;
  width: auto;
}
